#user-list {
    height: 80vh;
}
#controls {
    width: 20vw;
}
#room-list {
    height: 85vh;
}
#room-select-controls InputBox {
    width: 85vw;
    align: right middle;
}
#room-creation {
    height: 100vh;
    align: center middle;
}
#room-creation Label {
    width: 100vw;
    text-align: center;
    align: center middle;
}
#room-creation InputBox {
    text-align: center;
}
